{% set product = hotspot.product %}
<div class="sas-image-hotspot-wrapper">
    <div class="sas-image-hotspot-inner shadow-lg">
        <a class="d-flex text-start stretched-link" href="{{ seoUrl('frontend.detail.page', { 'productId': product.id }) }}" title="{{ product.translated.name }}">
            <div class="sas-image-hotspot-content pe-4">
                <div>{{ product.manufacturer.translated.name }}</div>
                <div class="py-1"><strong>{{ product.translated.name }}</strong></div>
                <div>{{ product.price.elements|first.gross|currency }}</div>

                {% if product.purchaseUnit is not null and product.referenceUnit > 0 %}
                    {% set basePrice =  product.price.elements|first.gross *  product.referenceUnit / product.purchaseUnit %}
                    <small>
                        Inhalt: {{ product.purchaseUnit }} {{ product.unit.translated.name }} ({{ basePrice|currency }} / {{ product.referenceUnit }} {{ product.unit.translated.name }})
                    </small>
                {% endif %}
            </div>
    </div>
    </a>
</div>
</div>
